# dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# env (contains API keys)
.env
.env.*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.vscode

# Runtime logs
server.log
server.err

# OS
.DS_Store
Thumbs.db

# Temp
tsc_errors.txt
